@model CarouselSlide

@{
    if (ViewBag.Akce != null)
    {
        <form asp-action="@ViewBag.Akce" method="post" enctype="multipart/form-data">
            @{
                if (ViewBag.Akce == "Edit")
                {
                    <input asp-for="ID" type="hidden" />
                }
            }
            <div asp-validation-summary="All"></div>
            <div class="form-group">
                <label asp-for="Image">Image</label>
                @{
                    if (ViewBag.Akce == "Edit")
                    {
                        <input asp-for="Image" class="form-control-file">
                    }
                    else
                    {
                        <input asp-for="Image" class="form-control-file" data-val-required="The Image field is required.">
                    }
                }
                <span asp-validation-for="Image"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageAlt">Image Alternative Text</label>
                <input asp-for="ImageAlt" class="form-control" placeholder="Enter alternative text ...">
                <span asp-validation-for="ImageAlt"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    }
}

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/FileContentValidation.js"></script>
    <script src="~/js/FileSizeValidation.js"></script>
}